body {
  padding-left: 11em;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: purple;
  background-color: red
}

ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 9em
}
  
paragraph.paraCenter

h1 {
  font-family: Helvetica, Geneva, Arial,serif;
  color: green
}
